<div class="page-container">
    <div class="top-section">
        <div class="search-section">
            <h1 class="header">Find that plate</h1>

            <div class="search-box">
                <%= form_with(url: '/search', method: "post") do %>
                <%= text_field_tag "home[number_plate]", nil, placeholder: "Enter the diplomatic number plate here", autofocus: true %>
                <%= submit_tag("Search", class: "btn search-button") %>
                <% end %>
            </div>

            <div class="flash-messages">
                <% flash.each do |type, msg| %>
                <p class="alert alert-<%= type %> alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <%= msg %>
                </p>
                <% end %>
            </div>
        </div>
    </div>

    <div class="help-section">
        <div class="help-section-content">
            <h4 class="help-section-heading">About</h4>
            <p>
                Find That Plate is a search engine for diplomatic number plates issued in Kenya. Diplomatic plates are written with white on a red background.
            </p>
        </div>

        <div class="help-section-content">
            <h4 class="help-section-heading">How it works</h4>
            <p>Diplomatic number plates are issued in Kenya based on the order which a country recognised Kenya as an independent state</p>
            <p>For example, the first country was Germany and was issue number 1</p>
        </div>
    </div>
</div>
