<div class="container">
    <div class="top-section">
        <div class="search-section">
            <h3 class="header">Find that plate</h3>

            <div>
                <% flash.each do |type, msg| %>
                <p class="alert alert-<%= type %> alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <%= msg %>
                </p>
                <% end %>
            </div>

            <div class="search-box">
                <%= form_with(url: '/search', method: "post") do %>
                <%= text_field_tag "home[number_plate]", nil, placeholder: "Enter the diplomatic number plate here", autofocus: true %>
                <%= submit_tag("Search", class: "btn btn-primary search-button") %>
                <% end %>
            </div>
        </div>
    </div>

    <div class="help-section">
        <h3 class="about-heading">About</h3>
        <p>
            This is a search engine for diplomatic number plates issued in Kenya. The number is written with white on a red background.
        </p>

        <p>Diplomatic number plates are issued in Kenya based on the order which a country recognised Kenya as an independent state</p>

        <p>For example, the first country was Germany and was issue number 1</p>
    </div>
</div>
